# =========================
# Dependencies
# =========================
node_modules/
.pnp/
.pnp.js

# =========================
# Build / Dist
# =========================
dist/
build/
out/

# =========================
# Vite / TanStack
# =========================
.vite/
.tanstack/

# =========================
# Testing
# =========================
coverage/
.vitest/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.iml

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Cache
# =========================
.cache/
.eslintcache
