.shell {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  overflow: hidden;
  min-height: 0;
  padding: 16px;
}

.mainScrollable {
  overflow-y: auto;
}
